mcp-apps/sentinel-incident-comment/infra/Sentinel-Incident-Add-Comment.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "Sentinel-Incident-Add-Comment",
      "metadata": {
        "description": "Name of the Logic App"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location for the Logic App"
      }
    },
    "sentinelConnectionName": {
      "type": "string",
      "defaultValue": "azuresentinel",
      "metadata": {
        "description": "Name of the Microsoft Sentinel API connection"
      }
    },
    "subscriptionId": {
      "type": "string",
      "defaultValue": "[subscription().subscriptionId]",
      "metadata": {
        "description": "Azure Subscription ID where Sentinel workspace resides"
      }
    },
    "resourceGroupName": {
      "type": "string",
      "metadata": {
        "description": "Resource Group name where Sentinel workspace resides"
      }
    },
    "workspaceName": {
      "type": "string",
      "metadata": {
        "description": "Microsoft Sentinel workspace name"
      }
    }
  },
  "variables": {
    "sentinelConnectionId": "[resourceId('Microsoft.Web/connections', parameters('sentinelConnectionName'))]",
    "sentinelConnectionApiId": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azuresentinel')]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('sentinelConnectionName')]",
      "location": "[parameters('location')]",
      "kind": "V1",
      "properties": {
        "displayName": "Microsoft Sentinel",
        "api": {
          "id": "[variables('sentinelConnectionApiId')]"
        },
        "parameterValueType": "Alternative"
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[variables('sentinelConnectionId')]"
      ],
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "SubscriptionId": {
              "defaultValue": "[parameters('subscriptionId')]",
              "type": "String"
            },
            "ResourceGroupName": {
              "defaultValue": "[parameters('resourceGroupName')]",
              "type": "String"
            },
            "WorkspaceName": {
              "defaultValue": "[parameters('workspaceName')]",
              "type": "String"
            }
          },
          "triggers": {
            "When_a_HTTP_request_is_received": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "method": "POST",
                "schema": {
                  "type": "object",
                  "properties": {
                    "incidentId": {
                      "type": "string",
                      "description": "The Microsoft Defender incident ID (e.g., 2329)"
                    },
                    "message": {
                      "type": "string",
                      "description": "The comment message to add (plain text or HTML)"
                    }
                  },
                  "required": [
                    "incidentId",
                    "message"
                  ]
                }
              },
              "operationOptions": "EnableSchemaValidation",
              "runtimeConfiguration": {
                "secureData": {
                  "properties": [
                    "inputs",
                    "outputs"
                  ]
                }
              }
            }
          },
          "actions": {
            "Parse_Request_Body": {
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()",
                "schema": {
                  "type": "object",
                  "properties": {
                    "incidentId": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              },
              "runAfter": {}
            },
            "Find_Sentinel_Incident_by_Defender_ID": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "https://management.azure.com/subscriptions/@{parameters('SubscriptionId')}/resourceGroups/@{parameters('ResourceGroupName')}/providers/Microsoft.OperationalInsights/workspaces/@{parameters('WorkspaceName')}/query?api-version=2017-10-01",
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "query": "SecurityIncident | where ProviderIncidentId == '@{body('Parse_Request_Body')?['incidentId']}' | take 1 | project IncidentName, IncidentNumber, Title"
                },
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://management.azure.com"
                }
              },
              "runAfter": {
                "Parse_Request_Body": [
                  "Succeeded"
                ]
              }
            },
            "Parse_Query_Result": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Find_Sentinel_Incident_by_Defender_ID')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "tables": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "columns": {
                            "type": "array"
                          },
                          "rows": {
                            "type": "array"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Find_Sentinel_Incident_by_Defender_ID": [
                  "Succeeded"
                ]
              }
            },
            "Check_If_Incident_Found": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(body('Parse_Query_Result')?['tables']?[0]?['rows'])",
                      0
                    ]
                  }
                ]
              },
              "actions": {
                "Set_Sentinel_Incident_ID": {
                  "type": "Compose",
                  "inputs": "@body('Parse_Query_Result')?['tables']?[0]?['rows']?[0]?[0]",
                  "runAfter": {}
                },
                "Set_Incident_Title": {
                  "type": "Compose",
                  "inputs": "@body('Parse_Query_Result')?['tables']?[0]?['rows']?[0]?[2]",
                  "runAfter": {}
                },
                "Generate_Comment_Id": {
                  "type": "Compose",
                  "inputs": "@guid()",
                  "runAfter": {
                    "Set_Sentinel_Incident_ID": [
                      "Succeeded"
                    ],
                    "Set_Incident_Title": [
                      "Succeeded"
                    ]
                  }
                },
                "Add_Comment_to_Incident": {
                  "type": "Http",
                  "inputs": {
                    "method": "PUT",
                    "uri": "https://management.azure.com/subscriptions/@{parameters('SubscriptionId')}/resourceGroups/@{parameters('ResourceGroupName')}/providers/Microsoft.OperationalInsights/workspaces/@{parameters('WorkspaceName')}/providers/Microsoft.SecurityInsights/incidents/@{outputs('Set_Sentinel_Incident_ID')}/comments/@{outputs('Generate_Comment_Id')}?api-version=2023-11-01",
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "properties": {
                        "message": "@{body('Parse_Request_Body')?['message']}"
                      }
                    },
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://management.azure.com"
                    }
                  },
                  "runAfter": {
                    "Generate_Comment_Id": [
                      "Succeeded"
                    ]
                  }
                },
                "Response_Success": {
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "statusCode": 200,
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "status": "success",
                      "message": "Comment added to incident",
                      "defenderIncidentId": "@{body('Parse_Request_Body')?['incidentId']}",
                      "sentinelIncidentId": "@{outputs('Set_Sentinel_Incident_ID')}",
                      "incidentTitle": "@{outputs('Set_Incident_Title')}",
                      "commentId": "@{outputs('Generate_Comment_Id')}"
                    }
                  },
                  "runAfter": {
                    "Add_Comment_to_Incident": [
                      "Succeeded"
                    ]
                  }
                },
                "Response_Add_Comment_Failed": {
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "statusCode": 500,
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "status": "error",
                      "message": "Failed to add comment to Sentinel incident",
                      "defenderIncidentId": "@{body('Parse_Request_Body')?['incidentId']}",
                      "sentinelIncidentId": "@{outputs('Set_Sentinel_Incident_ID')}",
                      "error": "@{body('Add_Comment_to_Incident')}"
                    }
                  },
                  "runAfter": {
                    "Add_Comment_to_Incident": [
                      "Failed",
                      "TimedOut"
                    ]
                  }
                }
              },
              "else": {
                "actions": {
                  "Response_Incident_Not_Found": {
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "statusCode": 404,
                      "headers": {
                        "Content-Type": "application/json"
                      },
                      "body": {
                        "status": "error",
                        "message": "No Sentinel incident found for Defender incident ID",
                        "defenderIncidentId": "@{body('Parse_Request_Body')?['incidentId']}"
                      }
                    },
                    "runAfter": {}
                  }
                }
              },
              "runAfter": {
                "Parse_Query_Result": [
                  "Succeeded"
                ]
              }
            },
            "Response_Query_Failed": {
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 500,
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "status": "error",
                  "message": "Failed to query Sentinel for incident lookup",
                  "defenderIncidentId": "@{body('Parse_Request_Body')?['incidentId']}",
                  "error": "@{body('Find_Sentinel_Incident_by_Defender_ID')}"
                }
              },
              "runAfter": {
                "Find_Sentinel_Incident_by_Defender_ID": [
                  "Failed",
                  "TimedOut"
                ]
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[variables('sentinelConnectionId')]",
                "connectionName": "[parameters('sentinelConnectionName')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                },
                "id": "[variables('sentinelConnectionApiId')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
    },
    "logicAppPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'full').identity.principalId]"
    },
    "webhookUrl": {
      "type": "string",
      "value": "[listCallbackUrl(resourceId('Microsoft.Logic/workflows/triggers', parameters('logicAppName'), 'When_a_HTTP_request_is_received'), '2019-05-01').value]"
    }
  }
}
